.wrap {
    background: #ec6a87;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    height: 300px;
}

.text {
    margin: 15px 0 0;
    background: #f19aac;
    font-size: 24px;
    padding: 5px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    border: 1px solid;
    width: 280px;
    padding: 5px;
}

.input {
    height: 25px;
    border: 1px solid;
}

.textarea {
    height: 45px;
    border: 1px solid;
}

.button {
    margin: 0 0 10px;
    background: #ec95a8;
    font-size: 24px;
    color: black;
    padding: 5px;
    box-shadow: 4px 4px #bda0f6;
}
