@import './src/common/styles/variables';
@import './src/common/styles/mixins';

.nav {
  display: flex;
  justify-content: space-around;
  width: 410px;
  cursor: pointer;
  @include text($secondFontFamily, 18px, 1);

  .active{
    color:$primaryColor ;
    &:hover{
      color:$primaryColor ;
    }
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
}



