.skill {
    background: #d7d7d7;
    width: 200px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icon {
    background: #282c34;
    width: 60px;
    height: 60px;
}