@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.header {
  @media screen and (max-width: 650px) {
    justify-content: center;
    padding-right: 0;
  }
  height: 60px;
  font-weight: 800;
  width: 100%;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $backgroundColor;
  box-shadow: 0 0 10px;

  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 6;
  transition: all 0.4s ease 0s;

  .nav {
    background: $backgroundColor;
    @include text($streetBrushFont, 25px, 1.2);
    letter-spacing: 6px;
    width: 100%;
    height: 100%;
    padding: 10px;
    .navItems {
      @media screen and (max-width: 540px) {
          display: none;
      }
      transition: all 0.4s ease 0s;
      z-index: 6;
      position: absolute;
      display: flex;
      height: 60px;
      width: 500px;
      align-items: center;
      justify-content: space-around;

      right: 9%;
      top: -2px;
      transition: 0.5s;
      padding: 10px 0;
    }
    .menu {
      z-index: 7;
      position: fixed;
      width: 300px;
      height: 100vh;
      top: 0;
      right: 0;
      transition: all 0.3s ease 0s;
      transform: translateX(130%);
    }

    .menuActive {
      z-index: 7;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      transition: all 0.4s ease 0s;

    }


    .menuContent {
      letter-spacing:9px;

      width: 300px;
      z-index: 7;
      position: fixed;
      top: 0;
      right: 0;

      height: 100%;
      background: #202020 none repeat scroll 0 0;
      box-shadow: 5px 0 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.4s;

      .menuHeader {
        padding: 70px  0;
        border-bottom: 1px solid white;
        width: 100%;
        text-transform: uppercase;

        @include text($titleFontFamily, 45px, 1);
      }

      .items {
        width: 100%;
        font-size: 30px;
        line-height: 1.8;
        color: white;
        padding-top: 30px ;
        .link {
          display: block;
          padding: 13px 0;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease;

        }
      }
    }

    .burgerBtn {
      z-index: 9;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 12px;
      right: 13px;
      cursor: pointer;

      .burgerBtnItem {
        margin-top: 5px;
        height: 3px;
        width: 25px;
        background-color: $primaryColor;
        transition: 0.5s;

      }

      .close {
        z-index: 9;
        position: absolute;
        top: 25px;
        right: 10px;
        width: 30px;
        height: 30px;
        transition: 0.5s;

        &:hover {
          opacity: 1;
        }

        &:before, &:after {
          position: absolute;
          right: 10px;
          top: -25px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: $primaryColor;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
