.project {
    background: #d7d7d7;
    width: 200px;

    padding: 10px;
    margin: 10px;
    border: 1px solid;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.project h3 {
    font-size: 22px;
    font-style: italic;
    padding: 8px 0;
}

.icon {
    background: #b79696;
    width: 100%;
    height: 180px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a {
    font-size:24px ;
    padding: 5px;
    border: 1px solid;
    box-shadow: 4px 4px #bda0f6;
}

.textWrap {


}