.skillsBlock {
    min-height: 100vh;
    background: #7f56dd;
}
.title{
    background: #bda0f6;
    font-size: 1.5em;
}

.skillsContainer{
    flex-direction:column;
    justify-content: flex-start;
    padding: 10px 0;
}
.skillsContainer h2{
    padding: 10px 0;
}


.skills{
    border: 1px solid;
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
