@import '../common/styles/variables';
@import '../common/styles/mixins';


.skillsBlock {
  @media screen and (max-width: 400px) {
    padding-top: 60px;
  }
  display: flex;
  align-items: center;
  background: $backgroundColor;
  padding: 30px;
  min-height: 75vh;

  .skillsContainer {
    @include container();
    flex-direction: column;
    justify-content: space-between;

    padding: 75px 10px 10px;

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      margin-top: 60px;

      .skills {

        flex: 1 1 250px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .icon {
          width: 55px;
          height: 55px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}


