@import '../common/styles/variables';
@import '../common/styles/mixins';


.skillsBlock {
    @media screen and (max-width: 400px) {
        padding-top: 60px;
    }
    display: flex;
    align-items: center;
    background: $backgroundColor;
    padding: 30px;
    min-height: 70vh;

    .skillsContainer{
        @include container ();
        flex-direction:column;
        justify-content: space-between;

        padding: 10px 0;
        .skills{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            .icon {
                width: 60px;
                height: 60px;
                transform: rotate(-45deg);
            }
        }


    }


}


