@import '../common/styles/variables';
@import '../common/styles/mixins';


//.main {
//  @include text($secondFontFamily, 20px, 2px);
//  height: 100vh;
//  background: $secondBackgroundColor;
//  display: flex;
//  justify-content: space-around;
//  align-items: center;
//  flex-wrap: wrap;
//
//  .wrap {
//    //@include container();
//    width: 80%;
//    max-width: 1500px;
//
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    flex-wrap: wrap;
//    .greeting {
//      display: flex;
//      flex-direction: column;
//      justify-content: flex-start;
//      align-items: flex-start;
//      flex-wrap: nowrap;
//      flex-shrink: unset;
//
//      .name {
//        @include text($titleFontFamily, 40px, 2px);
//
//        span {
//          display: inline-block;
//          position: relative;
//          z-index: 0;
//
//          &::before {
//            content: '';
//            position: absolute;
//            width: 100%;
//            height: 20px;
//            bottom: -6px;
//            left: 75px;
//            z-index: -2;
//            transition: all 0.3s ease-in-out 0s;
//            background: $primaryColor;
//          }
//
//        }
//      }
//
//
//    }
//    .img {
//      width: 300px;
//      height: 400px;
//      background: #e6d7fc;
//
//    }
//  }
//}
//



.main {
  @include text($secondFontFamily, 20px,1);
  height: 100vh;
  background: $secondBackgroundColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .wrap {
    //@include container();
    width: 80%;
    max-width: 1500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .greeting {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      flex-shrink: unset;

      .name {
        @include text($titleFontFamily, 40px, 2);

        span {
          display: inline-block;
          position: relative;
          z-index: 0;

          &::before {
            content: '';
            position: absolute;
            width: 120%;
            height: 20px;
            bottom: 15px;
            z-index: -2;
            transition: all 0.3s ease-in-out 0s;
            background: $primaryColor;
          }

        }
      }


    }
    .img {
      width: 300px;
      height: 400px;
      background: #e6d7fc;

    }
  }
}



