.mainBlock {
    height: 100vh;
    background: #bda0f6;
}
.addMargin{
    margin-top: 80px;
}

.text {
    width: 300px;
    background: #e6d7fc;
   margin-top: 80px;

}
.text span{
    color: navy;
    font-size: 24px;
}
.text h1{
    color: #000053;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 0;
}
.text p{
    font-size: 18px;
}


.img {
    width: 300px;
    height: 400px;
    background: #e6d7fc;

}