@import './src/common/styles/variables';
@import './src/common/styles/mixins';


.project {
  @include flex(flex-start,center,column);

  min-height: 397px;
  width: 220px;
  margin: 10px 10px 62px 10px;
  padding: 20px;

  //flex-wrap: wrap;
  box-shadow: 5px 5px 35px black;

  .icon {
    @include flex(center,center,row);
    position: relative;

    width: 100%;
    height: 180px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:hover .wrap {
      opacity: 1;
    }

    .wrap {
      @include flex(space-evenly,center,column);
      position: absolute;
      padding: 30px 0;
      top: -20px;
      width: 221px;
      height: 204px;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.2);

      .btn {
        @include text($titleFontFamily, 16px, 1.2);
        border: 1px solid white;
        cursor: pointer;

        background-color: rgba(0, 0, 0, 0.8);
        height: 46px;
        width: 120px;
        padding-top: 13px;
        &:hover{
        border: 1px solid $primaryColor;
        }
      }
    }
  }

  .textWrap {
    margin-top: 10px;
    color: white;
    padding: 10px;

    .projectTitle {
      @include text($titleFontFamily, 18px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
      p{
        margin-top: 7px;
        opacity: 0.4;
        font-size: 12px;
      }
    }

    .projectDescr {
      @include text($secondFontFamily, 12px, 1.8);
      font-weight: 400;
      margin-top: 15px;
    }
  }

}

