@import './src/common/styles/variables';
@import './src/common/styles/mixins';


.project {
  width: 220px;
  margin: 10px;
  padding: 20px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 5px 5px 35px black;

  .icon {
    width: 100%;
    height: 180px;
    //filter: invert(100%);

    border-radius: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
    }

    .wrap {
      opacity: 0;

      .btn {
        @include text('Josefin Sans', 18px, 1.2);
        border: 1px solid white;
        cursor: pointer;

        background-color: rgba(0, 0, 0, 0.8);
        height: 46px;
        width: 160px;
        padding-top: 13px;
      }

      &:hover {
        opacity: 1;
      }
    }

  }

  .textWrap {
    margin-top: 10px;
    color: white;
    padding: 10px;

    .projectTitle {
      @include text('Josefin Sans', 18px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .projectDescr {
      @include text('Poppins', 12px, 1.8);
      font-weight: 400;
      margin-top: 15px;
    }
  }

}

