@import '../common/styles/variables';
@import '../common/styles/mixins';




.projectsBlock {
    padding-top: 30px;
    min-height: 90vh;
    background: $secondBackgroundColor;
    display: flex;
    align-items: center;
    position: relative;
    .particlesWrap{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .projectsContainer {
        @include container ();

        flex-direction:column;
        padding: 10px 0;

        .projects {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 60px;
            .swiper{
              max-width: 742px;
                padding-left: 97px;
                @media screen and (max-width: 500px) {
                    padding-left: 30px;
                }
            }
            a{
                display: block;
            }
        }
        .btn {
            @include btn();
            font-family: 'Josefin Sans', sans-serif;
            min-width: 140px;
            max-width: 260px;
            background: rgb(12 12 12 / 44%);
            margin:60px 0 40px;
            border-radius: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
            &::after {
                display: none;
            }
            &:hover {
                background: white;
                color: black;
                &::after {
                    display: none;
                }
            }
        }
    }
}




