.projectsBlock {
    min-height: 100vh;
    background: #7f56dd;
    display: flex;
    align-items: center;
}
.title{
    background: #bda0f6;
    font-size: 1.5em;
}

.projectsContainer{
    flex-direction:column;
    justify-content: flex-start;
    padding: 10px 0;
}
.projectsContainer h2{
    padding: 10px 0;
}


.projects{
    border: 1px solid;
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
