.projectsBlock {

    background: #343a40;
    display: flex;
    align-items: center;
}

.projectsContainer{
    flex-direction:column;
    justify-content: space-between;
    padding: 10px 0;
}
.projectsContainer h2{
    padding: 10px 0;
}

.projects{
    border: 1px solid;
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

